h1{
    color: black;
    background-color:palevioletred
}
h2{
    color: black;
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
p{
    background-color: aquamarine;
    animation: alternate-reverse;
    align-items: center;
    border: 10px;    
}